*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body{
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(35, 31, 31);
}



#head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 63px;
  background: #171717;
  position:fixed;
  width: 100%;
  z-index: 100;
}

header nav .boxit{
  align-items: center;
  top: 50%;
  left: 50%;
}
input.src{
  padding: 9px 10px 9px 32px;
  margin-top: 10px;
  outline: none;
  font-size: 17px;
  border-radius: 15px;
  color: #444;
  border: 2px solid #0000;
  background: #fff url("/imagenes/search.png") no-repeat left ;
  background-size: 30px;
  background-color: rgba(0, 0, 0, .2);
  width: 60px;
  transition: all .5s;
}

input.src:hover{
  width: 180px;
  box-shadow: 0 0 5px #C81D11;
}

.navbar{
  display:flex;
  margin-right: 20px;

}

.logo{
  margin-left: 30px;
  
}
#head .box_jeje{
  width: 200px;
  height: 200px;
  border-radius: 30px;
}
#head .contain_jeje{
  object-fit: cover;
  width: 60%;
  height: 60%;
  margin-top: 40px;
}

#head img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.navbar a{
  display: block;
  padding: 20px 20px;
  color: #ffff;
  text-decoration: none;
  font-family: 'Rubik Glitch', cursive;
  text-transform: uppercase;
  font-size: 20px;
  transition: all .4s;
}

.navbar a:hover{
  color: rgb(255, 0, 0);
}

main h1{
  font-size: 30px;
  color: white;
  padding: 20px;
}

#section .box{
  width: 300px;
  height: 300px;
  border-radius: 30px;
  position: relative;
}
#section .contain{
  object-fit: cover;
}
#section img{
  width: 100%;
  height:100%;
  border-radius: 30px;
}
#articles{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  justify-content: center;
  grid-gap: 10px;
}

.box a h2{
  position: absolute;
  display:none;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 30px;
  background: rgba(0, 0, 0, .7);
  text-align: center;
  color: white;
  padding: 110px;
  font-size: 20px;
}

.box:hover h2{
  display: block;
  animation-duration: .9s;
  animation-name: bordercolor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

main{
  padding-top: 63px;
}

@keyframes bordercolor {
  from{
    box-shadow: 0 0 0px #C81D11
  }
  to{
    box-shadow: 0 0 14px #C81D11;
  }
}
.hide{
  display: none;
}
/*---- Plataformas ----*/

.platforms{
  background-color: rgb(40, 35, 35);
  align-items: center;
}
.box-platforms{
  display: flex;
  margin: 20px;
}
.box-platforms1{
  width: 50%;}
